<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Cloud Ace</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

{% load static %}

<body>
    <div class="container-fluid m-5 text-center">
        <h1>Hello Cloud Ace!</h1>
        <div class="text-center;">
            <p>
                Department
                <select name="use">
                  <option value="BP">Business Promotion</option>
                  <option value="T">Technique</option>
                  <option value="FO">Foreign Operation</option>
                  <option value="BA">Business Administration</option>
                </select>
            </p>
              <p>
                Name
                <input type="text" size="30" placeholder="名前を入力" maxlength="10"></p>
              </p>
              <a style="display:inline-block; background:#bf0000; padding:8px; margin: 10px; border-radius:8px; text-align:center; width:100px;">
                <font color="#ffffff" size="4">
                 <b>
                  検索
                 </b>
                </font> 
              </a>

        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for employee in employees %}
            <div class="col">
                <div class="card">
                    {% if employee.name %}
                    <img src="{% static 'hello_ca/images/sample.jpg' %}" style="width:269.77px; height:269.77px" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{employee.name}}</h5>
                            <p class="card-text">{{employee.intro_text}}</p>
                        </div>
                    {% else %}
                    <img src="{% static 'hello_ca/images/sample2.jpg' %}" style="width:269.77px; height:269.77px" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{employee.name}}</h5>
                            <p class="card-text">{{employee.intro_text}}</p>
                        </div>
                    {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>