<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Detail View</title>
</head>
{% load static %}

<body>
    {% include "./header.html" %}
    <div class="container max-w-screen-lg mx-auto m-10">
        <img class="rounded-t-lg" src="{% static 'hello_ca/images/sample.jpg' %}" alt="{{employee.name}}" width="auto"
            height="auto" />
        <div class="p-5">
            <p class="mb-2 text-3xl font-bold tracking-tight">
                {{employee.name}}
            </p>
            <p>
                Department
                <select name="use">
                    <option value="BP">Business Promotion</option>
                    <option value="T">Technique</option>
                    <option value="FO">Foreign Operation</option>
                    <option value="BA">Business Administration</option>
                </select>
            </p>
            <p class="mb-3 font-normal text-gray-700">
                {{employee.intro_text}}
            </p>
        </div>
    </div>

    <div>
        <button type="submit">
            <a href="{% url 'edit' employee.id %}">
                <div
                    style="display:inline-block; background:#0000bf; padding:8px; border-radius:8px; text-align:center; width:100px;">
                    <font color="#ffffff" size="4"><b>Edit</b></font>
                </div>
            </a>
        </button>
        <form action="{% url 'detail' employee.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" onclick='return confirm("本当に削除しますか？");'>
                <div
                    style="display:inline-block; background:#bf0000; padding:8px; border-radius:8px; text-align:center; width:100px;">
                    <font color="#ffffff" size="4"><b>Delete</b></font>
                </div>
            </button>
        </form>
    </div>

</body>

</html>