<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit View</title>
</head>

{% load static %}

<body>
    {% include "./header.html" %}
    <div class="container max-w-screen-md mx-auto m-10">
        <form action="{% url 'edit' employee.id %}" method="POST" class="text-4xl">
            {% csrf_token %}
            <div class="grid my-4 md:grid-cols-2 md:gap-6">
                <div>
                    <input type="text" name="first_name" id="first_name"
                        class="block w-full text-gray-900 bg-transparent border-0 border-b-2 border-gray-400 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        value="{{employee.first_name}}" required />
                    <label for="first_name" class="text-sm text-gray-400">
                        First name
                    </label>
                </div>
                <div>
                    <input type="text" name="last_name" id="last_name"
                        class="block w-full text-gray-900 bg-transparent border-0 border-b-2 border-gray-400 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        value="{{employee.last_name}}" required />
                    <label for="last_name" class="text-sm text-gray-400">
                        Last name
                    </label>
                </div>
            </div>

            <div class="grid my-4 md:grid-cols-2 md:gap-6">
                <div>
                    <input type="text" name="first_name_kana" id="first_name_kana"
                        class="block w-full text-gray-900 bg-transparent border-0 border-b-2 border-gray-400 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        value="{{employee.first_name_kana}}" required />
                    <label for="first_name_kana" class="text-sm text-gray-400">
                        First name kana
                    </label>
                </div>
                <div>
                    <input type="text" name="last_name_kana" id="last_name_kana"
                        class="block w-full text-gray-900 bg-transparent border-0 border-b-2 border-gray-400 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        value="{{employee.last_name_kana}}" required />
                    <label for="last_name_kana" class="text-sm text-gray-400">
                        Last name kana
                    </label>
                </div>
            </div>

            <div class="grid my-4 grid-cols-1">
                <select name="department"
                    class="block w-full text-gray-900 bg-transparent border-0 border-b-2 border-gray-400 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    required>
                    <option value="{{employee.department}}" selected></option>
                    {% for department in departments %}
                    <option value="{{department.pk}}">{{department.name}}</option>
                    {% endfor %}
                </select>
                <label for="department" class="text-sm text-gray-400">
                    Department
                </label>
            </div>

            <div class="grid my-4 grid-cols-1">
                <input type="text" name="intro_text" id="intro_text"
                    class="block w-full text-gray-900 bg-transparent border-0 border-b-2 border-gray-400 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    value="{{employee.intro_text}}" required />
                <label for="intro_text" class="text-sm text-gray-400">
                    Intro text
                </label>
            </div>

            <button type="submit"
                class="my-4 h-16 text-white w-full bg-purple-600 shadow-lg shadow-purple-500/50 rounded-lg text-center">
                Update
            </button>
        </form>
    </div>
</body>

</html>