<!DOCTYPE html>
<html lang="ja">
<!doctype html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Cloud Ace</title>
</head>

{% load static %}

<body>
    {% include "./header.html" %}
    <div class="container max-w-screen-lg mx-auto m-10">
        <div class="my-10">
            <form action="{% url 'index' %}" method="GET" class="text-3xl">
                <div class="my-4">
                    <select name="search_department"
                        class="block w-full text-gray-900 bg-transparent border-0 border-b-2 border-gray-400 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer">
                        <option value="" selected></option>
                        {% for depertment in depertments %}
                        <option value="{{depertment.pk}}">{{depertment.name}}</option>
                        {% endfor %}
                    </select>
                    <label for="depertment" class="text-2xl text-gray-700">
                        所属
                    </label>
                </div>

                <div class="my-4">
                    <input type="text" name="search_name" id="search_name"
                        class="block w-full text-gray-900 bg-transparent border-0 border-b-2 border-gray-400 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" />
                    <label for="search_name" class="text-2xl text-gray-700">
                        名前
                    </label>
                </div>

                <button type="submit"
                    class="my-4 h-12 text-white w-full bg-purple-600 shadow-lg shadow-purple-500/50 rounded-lg text-center">
                    Search employee
                </button>
            </form>
        </div>

        <div class="grid gap-x-8 gap-y-5 grid-cols-4 my-10">
            {% for employee in employees %}
            <div class="basis-1/5 gap-5 border border-gray-200 rounded-lg shadow bg-gray-600">
                <a href="{% url 'detail' employee.id %}">
                    <img class="rounded-t-lg" src="{% static 'hello_ca/images/sample.jpg' %}" alt="{{employee.name}}" />
                    <div class="p-5">
                        <p class="mb-2 text-3xl font-bold tracking-tight text-white">
                            {{employee.first_name}} {{employee.last_name}}
                        </p>

                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                            {{employee.intro_text}}
                        </p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>